body {
	box-sizing: border-box;
	overflow: auto;
	background: url(../images/candyKingdom.gif);
	background-size: cover;
	font-family: "Press Start 2P", cursive;
}

header {
	color: #EB0600;
	float: right;
	margin-right: 10px;
}

.img {
	height: 115px;
	width: 160px;
	z-index: 99;
}

h3 {
	margin-top: 0px;
	color: #D34E7D;
}

.char {
	float: left;
	padding: 15px;
	border: 4px solid #F48C83;
	background-color: #9700B2;
	position: relative;
	margin-left: 2px;
	margin-right: 2px;
}

.char .name {
	position: absolute;
	text-align: center;
	top: -3px;
	width: 100%;
	left: 0px;
}

.char .health {
	position: absolute;
	text-align: center;
	bottom: -12.5px;
	width: 100%;
	left: 0px;
}

.text {
	margin: 0px;
	color: #CCB43D;
}